# Global environment variables for E-commerce Data Platform
ENV=dev

# AWS Settings (Localstack or Real S3)
AWS_ACCESS_KEY_ID=mock_access_key
AWS_SECRET_ACCESS_KEY=mock_secret_key
AWS_REGION=eu-west-1
S3_RAW_BUCKET=ecommerce-raw-data-lake
S3_CURATED_BUCKET=ecommerce-curated-data-lake
S3_ML_BUCKET=ecommerce-ml-data-lake

# Snowflake DWH Configuration
SNOWFLAKE_ACCOUNT=xy12345.west-europe.azure
SNOWFLAKE_USER=DATA_ENGINEER_USER
SNOWFLAKE_PASSWORD=SuperSecurePassword123!
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=ECOMMERCE_DB

# Kafka Configurations
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081

# Slack Alerts Webhook
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/T00/B00/X00

# MLflow Tracking
MLFLOW_TRACKING_URI=http://localhost:5000

# DataHub Metadata Catalog
DATAHUB_GMS_URL=http://localhost:8080
